<?xml version="1.0" encoding="utf-8"?>

<!--
  Perfil oficial de publicación de Negative Client.
  Genera un único EXE self-contained para Windows x64.
-->

<Project>

  <PropertyGroup>

    <!-- Compilación final -->
    <Configuration>Release</Configuration>

    <Platform>Any CPU</Platform>

    <!-- Carpeta donde aparecerá Negative Client.exe -->
    <PublishDir>C:\NegativeClient-Publish</PublishDir>

    <PublishProtocol>FileSystem</PublishProtocol>

    <_TargetId>Folder</_TargetId>

    <!-- .NET 10 / WPF -->
    <TargetFramework>net10.0-windows</TargetFramework>

    <!-- Windows 64 bits -->
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>

    <!-- Incluir .NET dentro del launcher -->
    <SelfContained>true</SelfContained>

    <!-- Un único EXE -->
    <PublishSingleFile>true</PublishSingleFile>

    <!-- Incluir librerías nativas -->
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>

    <!--
      Incluir Assets y el resto del contenido dentro
      del único ejecutable.
    -->
    <IncludeAllContentForSelfExtract>true</IncludeAllContentForSelfExtract>

    <!-- Importante para WPF/CmlLib -->
    <PublishTrimmed>false</PublishTrimmed>

    <!-- Desactivado -->
    <PublishReadyToRun>false</PublishReadyToRun>

    <!-- No generar Negative Client.pdb -->
    <DebugType>None</DebugType>
    <DebugSymbols>false</DebugSymbols>

  </PropertyGroup>

</Project>